.flex,
.flexCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCol {
  flex-direction: column;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

body {
  /* background-color: #36444f; */
  background-color: rgb(53, 94, 53);
  font-family: "Press Start 2P", cursive;
}

h1 {
  color: #fff;
}

/* #app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.homeMenu {
  padding: 5vh;
  height: 85vh;
  width: 80vw;
  border: 3px dashed black;
  border-radius: 5vw;
  /* background-color: rgb(24, 114, 250); */
  background-color: rgb(203, 172, 119);
}

.logo {
  display: block;
  width: 70vw;
  height: 44vw;
  background-image: url("../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.homebutton {
  width: 45vw;
  height: 15vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  border: 0;
  cursor: pointer;
  background-image: url("../assets/button-blank.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2vh;
}

.homebutton:active {
  background-image: url("../assets/button-blank-selected.png");
}

.buttonTitle {
  display: inline-block;
  text-align: center;
  max-width: 38vw;
  color: #a74a00;
  text-shadow: 0.2vw 0.2vw #e0b700;
  font-size: 0.9em;
}

.gameModule {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "board board"
    "playerone playertwo";
}

.boardContainer {
  grid-area: board;
}

.board {
  display: grid;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(50, 1fr);
  width: 90vw;
  position: relative;
}

.playerInfo.one {
  grid-area: playerone;
}

.playerInfo.two {
  grid-area: playertwo;
}

.gameover,
.getready,
.countdown {
  width: 90vw;
  height: 90vw;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 1000;
}

.getready,
.countdown {
  background-color: rgba(0, 0, 0, 0.5);
}

.square {
  width: 1.8vw;
  height: 1.8vw;
  background-color: rgb(203, 172, 119);
  position: relative;
  /* box-shadow: 1px 1px lightgray inset, -1px -1px lightgray inset; */
}




.yellow,
.snake.yellow {
  background-color: #c8aa00;
}

.green,
.snake.green {
  background-color: #349a34;
}

.pink,
.snake.pink {
  background-color: #c862c8;
}

.blue,
.snake.blue {
  background-color: #0095c8;
}

.red,
.snake.red {
  background-color: #cc3c3c;
}

.food.yellow {
  background-color: #ffe115;
}

.food.green {
  background-color: #66cc66;
}

.food.pink {
  background-color: #ff99ff;
}

.food.blue {
  background-color: #00ccff;
}

.food.red {
  background-color: #ff6666;
}

.snakeLength {
  font-size: 0.7em;
}

.waitingRoom,
.gameSelector {
  color: white;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.colorSelector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.colorOptions {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

.colorOption,
.colorIcon {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.colorOption {
  margin: 1.3vw auto;
}

.gameList {
  width: 70vw;
}

.gameListItem {
  display: flex;
  cursor: pointer;
  max-width: 50vw;
  border: 1px solid white;
  padding: 2.2vw;
  align-items: center;
  margin-bottom: 2.2vw;
  line-height: 1em;
}

.colorIcon {
  margin-right: 2.2vw;
}

.gameName {
  margin: 0;
  line-height: 1em;
  font-size: 1em;
}

.createdAt {
  font-size: 0.5em;
}

/* SNAKE RENDERING CLASSES*/

.food::after {
  /* background-color: rgb(222, 53, 53); */
  display: block;
  content: "";
  background-image: url("../assets/food-round.png");
  background-size: 2vw 2vw;
  background-repeat: no-repeat;
  width: 2vw;
  height: 2vw;
  position: absolute;
  bottom: 0;
  /* left: 0; */
  right: 0;
}

.snake::after {
  /* background-color: #36454f; */
  /* background-color: #009245; */
  display: block;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 1.8vw;
  height: 1.8vw;
}

.snake.tail {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.snake.tail.left::after {
  background-image: url("../assets/snake-segments/green-tail-left.png");
}
.snake.tail.right::after {
  background-image: url("../assets/snake-segments/green-tail-right.png");
}
.snake.tail.up::after {
  background-image: url("../assets/snake-segments/green-tail-up.png");
}
.snake.tail.down::after {
  background-image: url("../assets/snake-segments/green-tail-down.png");
}
.snake.head.left::after {
  background-image: url("../assets/snake-segments/green-head-left.png");
  z-index: 100;
  width: 2.16vw;
  height: 2.88vw;
  bottom: 0;
  right: 0;
}
.snake.head.right::after {
  background-image: url("../assets/snake-segments/green-head-right.png");
  z-index: 100;
  width: 2.16vw;
  height: 2.88vw;
  bottom: 0;
  left: 0;
}
.snake.head.up::after {
  background-image: url("../assets/snake-segments/green-head-up.png");
  z-index: 100;
  height: 2.16vw;
  width: 2.88vw;
  bottom: 0;
  left: 0;
}
.snake.head.down::after {
  background-image: url("../assets/snake-segments/green-head-down.png");
  z-index: 100;
  height: 2.16vw;
  width: 2.88vw;
  top: 0;
  right: left;
}
/* .snake.up::after, .snake.down::after {
  background-image: url("../assets/snake-segments/green-up-down.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.snake.right::after, .snake.left::after {
  background-image: url("../assets/snake-segments/green-left-right.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} */

.snake.up.down::after {
  background-image: url("../assets/snake-segments/green-up-down.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.snake.right.left::after {
  background-image: url("../assets/snake-segments/green-left-right.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.snake.up.left::after {
  background-image: url("../assets/snake-segments/green-up-left.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.snake.up.right::after {
  background-image: url("../assets/snake-segments/green-up-right.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.snake.down.left::after {
  background-image: url("../assets/snake-segments/green-down-left.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.snake.down.right::after {
  background-image: url("../assets/snake-segments/green-down-right.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 568px) {
  .homeMenu {
    padding: 5vh;
    height: 85vh;
    width: 60vw;
    border: 5px dashed black;
    border-radius: 5vw;
  }

  .homebutton {
    width: 36vw;
    height: 12vw;
    margin: 2vh;
  }
  .buttonTitle {
    max-width: 30vw;
    text-shadow: 0.2vw 0.2vw #e0b700;
    font-size: 0.9em;
  }
  .logo {
    width: 55vw;
    height: 34.57vw;
  }
  /* .logo {
    width: 70vw;
    height: 44vw;
  } */

  .board {
    width: 70vw;
  }
  .gameover,
  .getready,
  .countdown {
    width: 70vw;
    height: 70vw;
  }
  .square {
    width: 1.4vw;
    height: 1.4vw;
  }
  .snake::after {
    width: 1.4vw;
    height: 1.4vw;
  }
  .snake.head.left::after,
  .snake.head.right::after{
    width: 1.68vw;
    height: 2.24vw;
  }
  .snake.head.up::after,
  .snake.head.down::after {
    height: 1.68vw;
    width: 2.24vw;
  }
  .food::after {
    width: 1.6vw;
    height: 1.6vw;
    background-size: 1.6vw 1.6vw;
  }
  
}

@media only screen and (min-width: 720px) {
  .homeMenu {
    padding: 5vh;
    height: 85vh;
    width: 60vw;
    border: 5px dashed black;
    border-radius: 5vw;
  }

  .homebutton {
    width: 30vw;
    height: 10vw;
    margin: 2vh;
  }
  .buttonTitle {
    max-width: 25vw;
    text-shadow: 0.2vw 0.2vw #e0b700;
    font-size: 0.9em;
  }
  .logo {
    width: 45vw;
    height: 28.28vw;
  }

  .gameModule {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .board {
    width: 55vw;
  }
  .gameover,
  .getready,
  .countdown {
    width: 55vw;
    height: 55vw;
  }
  .square {
    width: 1.1vw;
    height: 1.1vw;
  }

  .snake::after {
    width: 1.1vw;
    height: 1.1vw;
  }

  .snake.head.left::after,
  .snake.head.right::after{
    width: 1.32vw;
    height: 1.76vw;
  }

  .snake.head.up::after,
  .snake.head.down::after {
    height: 1.32vw;
    width: 1.76vw;
  }

  .food::after {
    width: 1.2vw;
    height: 1.2vw;
    background-size: 1.2vw 1.2vw;
  }

  .colorOptions {
    width: 65vw;
  }

  .colorOption {
    margin: 1.8vw auto;
  }

  .gameList {
    width: 40vw;
  }

  .gameListItem {
    max-width: 40vw;
    padding: 1.8vw;
    margin-bottom: 1.8vw;
  }

  .colorIcon {
    margin-right: 1.8vw;
  }
}

@media only screen and (min-width: 900px) {
  .homeMenu {
    padding: 5vh;
    height: 85vh;
    width: 40vw;
    border: 5px dashed black;
    border-radius: 5vw;
  }

  .logo {
    display: block;
    width: 90vw;
    height: 56.34vw;
  }

  .homebutton {
    width: 18vw;
    height: 6vw;
    margin: 2vh;
  }
  .buttonTitle {
    max-width: 16vw;
    text-shadow: 0.2vw 0.2vw #e0b700;
    font-size: 0.9em;
  }
  .logo {
    /* min-width: 30vw; */
    width: 30vw;
    height: 18.89vw;
    /* height: 10vw; */
  }

  .board {
    width: 40vw;
  }
  .gameover,
  .getready,
  .countdown {
    width: 40vw;
    height: 40vw;
  }
  .square {
    width: 0.8vw;
    height: 0.8vw;
    position: relative;
  }
  .snake::after {
    width: 0.8vw;
    height: 0.8vw;
  }

  .snake.head.left::after,
  .snake.head.right::after{
    width: 0.96vw;
    height: 1.28vw;
  }

  .snake.head.up::after,
  .snake.head.down::after {
    height: 0.96vw;
    width: 1.28vw;
  }

  .food::after {
    width: 0.9vw;
    height: 0.9vw;
    background-size: 0.9vw 0.9vw;
  }

  .colorSelector {
    padding-bottom: 20px;
  }
  .colorOptions {
    width: 50vw;
  }

  .colorOption {
    margin: 1.3vw auto;
  }

  .gameList {
    width: 30vw;
  }

  .gameListItem {
    max-width: 30vw;
    padding: 1.3vw;
    margin-bottom: 1.3vw;
  }

  .colorIcon {
    margin-right: 1.3vw;
  }
}
