body {
    background-color: #36454f;
}

h1 {
    color: #fff;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-rows: repeat(50, 1fr);
    grid-template-columns: repeat(50, 1fr);
    width: 40vw;
    position: relative;
}

.gameover {
    width: 40vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.square {
    width: 0.8vw;
    height: 0.8vw;
    background-color: white;
    box-shadow: 1px 1px lightgray inset, -1px -1px lightgray inset;
}

.square.snake {
    background-color: #36454f;
}

.square.snake1 {
    background-color: rgb(250, 189, 56)
}

.square.snake2 {
    background-color: rgb(101, 181, 101)
}

.square.food {
    background-color: rgb(222, 53, 53);
}

.square.food1 {
    background-color: rgb(208, 142, 0)
}

.square.food2 {
    background-color: rgb(26, 148, 26)
}